/* Makes sure all elements start with no padding or margin */
* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #d3d0d0
}

footer {
  text-align: center;
  background-color: #ffffff;
  border: 4px solid #000000;
  padding: 20px;
}
/* Displays items in header as flex, sets direction of items and defines
the container and then aligns them. */
header {
  display: flex;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  flex-direction: row;
  flex-flow: column;
  align-items: center;
}

header .menu-toggle {
  margin-left: auto;
}
/* Without using the postion absolite, the menu moves out of line */
.menu-toggle {
  cursor: pointer;
  font-size: 2rem;
  text-align: right;
  position: absolute; 
  align-self: flex-end;
}
/* Hides menu until it is active */
.nav-menu {
  display: none;
}

.nav-menu.active {
  display: block;
}
/* Removes defail style and adds a little space at top of list. */
.nav-menu ul {
  list-style-type: none;
  margin-top: 8px;
}

.nav-menu li {
  margin-bottom: 10px;
  margin-left: 5px;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
}

.nav-menu li a:hover {
  border-bottom: 1px solid #fff;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

img {
  width: 200px;
  height: auto;
  margin-bottom: 5px;
  border: 4px solid #333;
  box-shadow: 2px 2px 5px rgba(0,0,0,1)
  
}

h1 {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}


h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
}

h3,p {
  display: inline;
}

span {
    font-weight: bold;
}

.member h2 a {
    color: inherit;
    text-decoration: none;
    
}

.member h2 a:hover {
    text-decoration: #333 underline;
}

/* This css is used for window size of 768 and wider.
          Note: how it is listed at bottom of css */

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu ul {
    display: flex;
  }

  .nav-menu li {
    margin-right: 20px;
  }
}
